# Documentation
README.md

# Dependency management
package-lock.json

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/
env/

# Node.js and Frontend
node_modules
dist
dist-ssr
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# OS specific
.DS_Store
Thumbs.db