@import "tailwindcss";

/* Menu */
.active-route .p-menubar-item-content {
  background-color: var(--p-menubar-item-active-background);
}
.active-route * {
  color: var(--p-menubar-item-active-color) !important;
}

.p-menubar {
  padding: 8px 0 !important;
}

@media (min-width: 961px) {
  .p-menubar-root-list,
  .p-menubar-root-list li:last-child {
    flex-grow: 1;
  }
  .p-menubar-root-list li:last-child {
    display: flex;
    justify-content: flex-end;
  }
  .p-menubar-root-list {
    width: max-content;
  }
}

.play-icon,
.pause-icon {
  font-size: 1.5rem;
}

.search-box {
  .p-input-icon-left > i {
    z-index: 1;
  }

  .p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
  }
}
